@using DentalStudio.Web.ViewModels.Patients
@model PatientProfileDetailsViewModel
@{
    ViewData["Title"] = "Your Patient Profile";
}

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}
<div class="containerForm" style="margin-top: 2%">
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="@Model.Photo" alt="" style="width:400px; height:300px;">
            </div>
            <div class="col-md-10" style="margin-top: 15%">
                <div class="text-center" style="color:cornflowerblue">
                    Manage your account
                </div>
            </div>
            <partial name="_ManageProfilePartial" />
        </div>
        <div class="col-md-6">
            <div class="text-center" style="color:cornflowerblue">
                @ViewData["Title"]
            </div>
            <div class="card-header" style="margin-top: 3%">
                <h5>@Model.FullName</h5>
            </div>
            <div class="card-header" style="margin-top: 1%">
                Email: @Model.Email
            </div>
            <div class="card-header" style="margin-top: 1%">
                Phone Number: @Model.PhoneNumber
            </div>
            <div class="card-header" style="margin-top: 1%">
                Address: @Model.Address
            </div>
            <div class="card-header" style="margin-top: 1%">
                Dateof Birth: @Model.DateOfBirth
            </div>
            <div class="card-header" style="margin-top: 1%">
                Age: @Model.Age
            </div>
            <div class="card-header" style="margin-top: 1%">
                Gender: @Model.Gender
            </div>
            <div class="card-header" style="margin-top: 1%">
                Blood group: @Model.BloodGroup
            </div>
            <div class="card-header" style="margin-top: 1%">
                Is alergic: @Model.IsAlergic
            </div>
            <div class="card-header" style="margin-top: 1%">
                Is insured: @Model.IsInsured
            </div>
            <div class="card-header">
                <a class="btn btn-info mb-3" style="width:auto"
                   asp-action="Index" asp-controller="Home"> Back</a>
                <a class="btn btn-info mb-3" style="width:auto"
                   asp-area="" asp-action="UpdateProfile" asp-controller="Patients" asp-route-id="@Model.Id"> Update Profile</a>
            </div>
        </div>
    </div>
</div>

