@using DentalStudio.Web.ViewModels.Administration.Patients
@model List<PatientViewModel>
@{
    ViewData["Title"] = "All";
}

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}
<!-- DATA TABLE-->
<div class="container">
    <table>
        <thead>
            <tr>
                <th><h4>Patients</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-info mb-3" style="width:auto" asp-action="Create"
                               asp-controller="Patients">Add new patient</a>
                            <a class="btn btn-info mb-3" style="width:auto"
                               asp-action="Index" asp-controller="Dashboard"> Back</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="dataTable" class="table table-data2 table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>Age</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model)
                        {
                            <tr class="tr-shadow">
                                <td>@patient.FullName</td>
                                <td>@patient.Email</td>
                                <td>@patient.PhoneNumber</td>
                                <td>@patient.Address</td>
                                <td>@patient.Gender</td>
                                <td>@patient.DateOfBirth</td>
                                <td>@patient.Age</td>
                                <td>
                                    <form asp-action="Delete" asp-route-id="@patient.Id" method="post">
                                        <a class="btn btn-outline-info btn-sm"
                                           asp-action="Details" asp-controller="Patients"
                                           asp-route-id="@patient.Id">More</a>
                                        <a class="btn btn-outline-success btn-sm"
                                           asp-action="Edit" asp-controller="Patients"
                                           asp-route-id="@patient.Id">Edit</a>
                                        <span id="confirmDeleteSpan_@patient.Id" style="display:none">
                                            <span>Are you sure you want to delete?</span>
                                            <button type="submit" class="btn btn-danger btn-sm">Yes</button>
                                            <a href="#" class=" btn btn-info btn-sm"
                                               onclick="confirmDelete('@patient.Id', false)">No</a>
                                        </span>
                                        <span id="deleteSpan_@patient.Id">
                                            <a href="#" class="btn btn-outline-danger btn-sm"
                                               onclick="confirmDelete('@patient.Id', true)">Delete</a>
                                        </span>
                                    </form>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END DATA TABLE-->


@section Scripts
{  
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}
